{% extends "layout.html" %}

{% block body %}
<style>
    .float-left {
        width: 50%;
    }

    .float-right {
        width: 50%;
    }
</style>
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{url_for('static', filename='assets/img/home-bg.jpg')}}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>{{params['blog_name']}}</h1>
                    <span class="subheading">{{params['tag_line']}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

            {% for post in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="/post/{{post.slug}}">
                    <h2 class="post-title">{{post.title}}</h2>
                    <h3 class="post-subtitle">{{post.tagline}}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="https://ratnakar5938.github.io/my-portfolio/" target="_blank">Admin</a>
                    on {{post.date}}
                </p>
                {{post.content[0:40]}}...
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <div class="d-flex">
                <div class="d-flex justify-content-start mb-2 float-left">
                    {% if prev!= '#' %}
                    <a class="btn btn-primary text-uppercase" href="{{prev}}">&larr; Newer Posts</a>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end mb-2 float-right">
                    {% if next!= '#' %}
                    <a class="btn btn-primary text-uppercase" href="{{next}}">Older Posts &rarr;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}